<h2>Tamayo y Asociados: Solicitud de Informacion Adicional</h2>
<p>Si tiene comentarios, consultas o requiere informacion especifica no dude en escribirnos. Haga click aqui:</p>
<email direccion-e-destino="info@@tamayo.com" detalle-mensaje="Contactanos..."></email>